{% extends 'navigation.html.twig' %}

{% block main %}
    <link rel="stylesheet" href="/assets/css/album.css">
    <link rel="stylesheet" href="/assets/css/album_desktop.css" media="only screen and (min-width: 600px)">
    <script type="text/javascript" src="/assets/js/submenu.js"></script>
    <div id="album-information">
        <div id="information-background" style="background-image: url('/music/Music{{ album.getCover }}')"></div>
        <div id="album-cover-header" style="background-image: url('/music/Music{{ album.getCover }}')"></div>
        <div id="album-credits">
            <div id="album-name">{{ album.name }}</div>
            <a id="album-artist" onclick="loadContent('artist', {{ album.artist.id }})">{{ album.artist.name }}</a>
        </div>
    </div>
    <div id="album-tracks">
        <div id="album-tracks-header">
            <div id="track-header">{{ 'Track'|trans }}</div>
            <div id="duration-header" class="duration">
                <svg>
                    <path d="M19,10 A9,9 0 1 0 1,10 a9,9 0 0 0 18,0 z
                             m1,0 A10,10 0 1 1 0,10 a10,10 0 0 1 20,0 z
                             M9.5 3.2 v7.5 h1 v-7.5 z
                             M10.5 9.6 h4.5 v1 h-4.5 z"/>
                </svg>
            </div>
        </div>
        {% set tracks_json = {} %}
        {% for track in tracks %}
            {% set tracks_json = tracks_json|merge([{name: track.name, path: audio_directory~track.path,
                duration: track.duration, number: track.getTrackNumber,
                album: {name: track.album.name, cover: audio_directory~track.album.cover, id: track.album.id},
                artist: {name: track.album.artist.name, id: track.album.artist.id}}]) %}
        {% endfor %}
        {% for track in tracks %}
            <div class="track-row" onclick="setQueue({{ tracks_json|json_encode }}, {{ loop.index-1 }})">
                <div style="background-image: url('/music/Music{{ album.getCover }}')" class="album-cover"></div>
                <div>{{ loop.index }}. {{ track.name }}</div>
                <div class="duration">
                    {% set minutes = (track.duration/60)|round(0, 'floor')|ea_as_string ~ ":" %}
                    {% set secondes = (track.duration%60)|ea_as_string %}
                    {% if secondes|length == 1 %}
                        {% set secondes = "0" ~ secondes %}
                    {% endif %}
                    {% set duration = minutes ~ secondes %}
                    {{ duration }}
                </div>
                <div class="option-button">
                    <svg class="more_options">
                        <path d="M16,23 a2,2 0 0 0 0,4 a2,2 0 1 0 0,-4 z
                            m7,0 a2,2 0 0 0 0,4 a2,2 0 1 0 0,-4 z
                            m7,0 a2,2 0 0 0 0,4 a2,2 0 1 0 0,-4 z"/>
                    </svg>
                    <div class="submenu">
                        <ul>
                            <li onclick="addNext({{ tracks_json[loop.index-1]|json_encode }})">
                                <a role="button" tabindex="-1">play next</a>
                            </li>
                            <li onclick="expandQueue({{ tracks_json[loop.index-1]|json_encode }})">
                                <a role="button">add to queue</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            loadEvents();
        </script>
    </div>
{% endblock main %}